* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    * {
        background-color: #000;
    }

    img {
        width: 100vw;
        height: 100vh;
    }

    .banner {
        position: fixed;
        width: 100vw;
        height: 15vh;
    }

    .banner .logo {
        width: 25vw;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }

    .banner .btn {
        display: flex;
        justify-content: center;
    }

    .banner .btn .bar{
        margin: 0.5rem;
        border: 3px solid rgb(170, 96, 0);
        border-radius: 0.5rem;
        padding: 0.1rem 0.2rem;
        color: #fff;
        text-decoration: none;
    }
    .menu{
        position: relative;
    }
}