* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    * {
        background-color: #000;
    }

    img {
        width: 100vw;
        height: 100vh;
    }

    .banner {
        position: fixed;
        width: 100vw;
        height: 7rem;
    }

    .banner .logo {
        width: 25vw;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }

    .banner .btn {
        display: flex;
        justify-content: space-around;
    }

    .banner .btn .bar{
        margin: 0.5rem;
        border: 2.5px solid rgb(254, 203, 4);
        border-radius: 0.5rem;
        padding: 0.2rem 0.4rem;
        color: #fff;
        text-decoration: none;
    }
    .menu{
        padding-top: 10rem;
    }
}